oarepo[s3,rdm]==12.1.36
cachetools==5.5.0
deepmerge==2.0
et-xmlfile==2.0.0
flask-babelex==0.9.4
frozendict==2.4.6
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.9.28
langcodes==3.4.1
language-data==1.2.0
marisa-trie==1.2.1
marshmallow-i18n-messages==0.1.0
nr-metadata==2.0.46
nr-vocabularies==2.1.2
oarepo-communities==5.0.24
oarepo-dashboard==1.0.12
oarepo-global-search==1.0.27
oarepo-published-service==1.0.3
oarepo-requests==2.2.11
oarepo-runtime==1.5.71
oarepo-ui==5.2.25
oarepo-vocabularies==2.1.6
oarepo-workflows==1.0.11
openpyxl==3.1.5
python-dotenv==1.0.1
whitenoise==6.8.2