oarepo[s3,rdm]==12.1.33
cachetools==5.5.0
deepmerge==2.0
et-xmlfile==1.1.0
flask-babelex==0.9.4
frozendict==2.4.4
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.9.25
langcodes==3.4.0
language-data==1.2.0
marisa-trie==1.2.0
marshmallow-i18n-messages==0.1.0
nr-metadata==2.0.37
nr-vocabularies==2.1.0
oarepo-global-search==1.0.25
oarepo-published-service==1.0.3
oarepo-requests==2.0.8
oarepo-runtime==1.5.58
oarepo-ui==5.2.8
oarepo-vocabularies==2.0.96
openpyxl==3.1.5
python-dotenv==1.0.1
whitenoise==6.7.0